
.screenTop(@position: absolute, @backColor: red) when (iskeyword(@position)), (iscolor(@@backColor)) {
    position: @position;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: @backColor;
}